@import 'vars';
@import 'typography';
@import 'header';
@import 'front-articles';
@import 'footer';
@import 'font-awesome/scss/font-awesome';

body {
  font-family: Helvetica, sans-serif;
  color: $dark;
  background-color: $white;
  padding: $half-space;
  font-family: 'Open Sans';
  padding:0;
  margin: 0;
}