
<header>
	<div class="logo-container">
		<a href="#" class="logo"></a>
	</div>
	<div class="search">
		<div class="icon"></div>
	</div>
	<nav>
		<span></span>
		<ul class="hide">
			<li>
				<a href="#">Salud</a>
			</li>
			<li>
				<a href="#">Entretenimiento</a>
			</li>
			<li>
				<a href="#">Belleza</a>
			</li>
			<li>
				<a href="#">Moda</a>
			</li>
		</ul>
	</nav>
</header>
<article>
	<a href="#">
		<figure>
			<img src="../images/post-1.jpg">
			<figcaption>
				<h2>La importancia del cuidado de las mascotas</h2>
			</figcaption>
		</figure>
	</a>
</article>
<article>
	<a href="#">
		<figure>
			<img src="../images/post-1.jpg">
			<figcaption>
				<h2>La importancia del cuidado de las mascotas y sus costumbres diarios</h2>
			</figcaption>
		</figure>
	</a>
</article>
<section>
	<h1>Últimos Artículos</h1>
	<article class="last-articles">
		<h2>La importancia del cuidado de las mascotas y sus costumbres diarios</h2>
	</article>
	<article class="last-articles">
		<h2>La importancia del cuidado de las mascotas y sus costumbres diarios</h2>
	</article>
</section>
<article>
	<a href="#">
		<figure>
			<img src="../images/post-1.jpg">
			<figcaption>
				<h2>La importancia del cuidado de las mascotas y sus costumbres diarios</h2>
			</figcaption>
		</figure>
	</a>
</article>
<footer>
	<div class="logo-container">
		<a href="#" class="logo"></a>
	</div>
	<p class="copyright">
		Agosto 21, 2016 / Términos de Uso / Politicas de Privacidad © 2016 Orbil Media, Inc. odos los derechos reservados
	</p>
</footer>
